<% if Dradis::Plugins::Calculators::DREAD::Engine.settings.show.to_i == 1 %>
<li class="nav-item">
  <a href="#dread-tab" data-bs-toggle="tab" class="nav-link"><i class="fa fa-calculator"></i> DREAD</a>
</li>
<% end %>
